.link__list {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 50%;
    height: 100%;
}

.link__list__item {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.link__list__href {
    text-decoration: none;
    color: var(--text-secondary);
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
}

.link__list__href:hover {
    color: var(--text-primary);
}

.link__list__href__underline {
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
    content: "";
    width: 10px;
    height: 3px;
    margin-top: 5px;
    border-radius: 5px;
    background-color: var(--text-secondary);
    transition: all 0.3s ease;
}

.link__list__href:hover~.link__list__href__underline {
    background-color: var(--text-primary);
    width: 50px;
}

.line {
    height: 1px;
    width: 90%;
    box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 1);
    margin: auto;
}

.line-primary {
    border-bottom: 1px solid var(--hr-primary);
    margin-left: 5%;
}

.line-secondary {
    border-bottom: 1px solid var(--hr-secondary);
    width: 100%;
}


.margin-top {
    margin-top: 50px;
}


@media only screen and (max-width: 1000px) {
    .link__list {
        justify-content: space-between;
        align-items: stretch;
    }

    .link__list__item {
        width: 100%;
    }
}