footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    background-color: var(--background-primary);
    font-size: 18px;
    bottom: 0;
    z-index: 0;
    position: fixed;
    bottom: 0;
    z-index: 1;
}

.footer__container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.--upper {
    height: 80px;
}

.--down {
    height: 20px;
}

.--footer-list-up {
    padding-top: 30px;
}

.--footer-list-down {
    margin-top: -10px;
}

.logo {
    width: 40px;
    height: 40px;
    transition: all ease 0.25s;
}

.logo:hover {
    cursor: pointer;
    transform: scale(1.25);
}

.authors {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-left: auto;
    color: var(--text-secondary);
    font-size: 14px;
}

.authors li {
    margin-left: 30px;
    margin-right: 10px;
}