:root {
    --background-primary: black;
    --text-primary: white;
    --text-secondary: gray;
    --hr-primary: rgb(64, 64, 64);
    --hr-secondary: rgb(38, 38, 38);
    --font-family-primmary: "Comic Sans MS", "Comic Sans", cursive;
}

body {
    background-color: var(--background-primary);
    margin: 0;
    padding: 0;
    overflow-y: scroll;
    font-family: var(--font-family-primmary);
}

#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-size: 32px;
    font-family: var(--font-family-primmary)
}

#banner a {
    text-decoration: none;
    color: var(--text-primary--);
}

.line {
    height: 1px;
    width: 90%;
    box-shadow: inset 0px 0px 100px 100px rgba(0, 0, 0, 1);
    margin: auto;
}

.line-primary {
    border-bottom: 1px solid var(--hr-primary);
    margin-left: 5%;
}

.line-secondary {
    border-bottom: 1px solid var(--hr-secondary);
    width: 100%;
}

#photo {
    background: url("../src/test1.jpg");
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
    top: 0;
}

#image {
    background: rgba(0, 0, 0, 0.6);
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}
.welcome { 
    text-align: center; 
    color: var(--text-primary);
    font-size: 48px;
    margin: 0;
    margin-top: 50px;
    padding: 0;
}
.main__text {
    text-align: center; 
    color: var(--text-primary);
    font-size: 24px;
    margin: 0;
    margin-top: 100px;
    padding: 0;
}