#banner {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
    background-color: var(--background-primary);
    color: var(--text-primary);
    font-size: 32px;
    font-family: var(--font-family-primmary)
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--background-primary);
    width: 100%;
    height: 75px;
    position: sticky;
    top: 0;
    z-index: 2;
    font-family: var(--font-family-primary);
}

nav .link__list {
    width: 100%;
}



@media only screen and (max-width: 1000px) {
    nav>.link__list>.link__list__item>.link__list__href__underline {
        bottom: 10px;
    }
}